<!-- Start Rendering Footer -->
<div class="container-fluid bg-primary text-light fixed-bottom px-5 py-2">
    <div class="row">
        <div class="col-6">
            <div class="row">     
                <a href="{{ settings.home.SocialMediaSettings.twitter }}" class="footer-link" target="__blank">
                    <i class="fa fa-twitter px-4 icon-big" aria-label="twitter-icon"></i></a>
                <a href="{{ settings.home.SocialMediaSettings.facebook }}" class="footer-link" target="__blank">
                    <i class="fa fa-twitter px-4 icon-big" aria-label="twitter-icon"></i></a>
                <a href="{{ settings.home.SocialMediaSettings.twitter }}" class="footer-link" target="__blank">
                        <i class="fa fa-twitter px-4 icon-big" aria-label="twitter-icon"></i></a>
                <a href="{{ settings.home.SocialMediaSettings.twitter }}" class="footer-link" target="__blank">
                    <i class="fa fa-twitter px-4 icon-big" aria-label="twitter-icon"></i></a>
                <i class="fa fa-facebook-square icon-big px-4 text-muted" aria-label="facebook-icon"></i>
                <i class="fa fa-instagram icon-big px-4 text-muted" aria-label="instagram-icon"></i>
                <i class="fa fa-envelope icon-big px-4 text-muted" aria-label="email-icon"></i>
            </div>
        </div>
    </div>
</div>
<!-- End Rendering Footer -->