{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
{% image page.background_image min-2000x400 as backgroundimg %}

<div class="container-fluid row mx-0 align-items-center" style="background-image:url({{ backgroundimg.url }}); background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 75vh">
        <div class="col-lg-4 col-sm-0">
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="w-100">
                <h3 class="text-light d-inline-block display-4 text-right">
                    {{page.caption_text|richtext}}
                </h3>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 height-75 align-self-left">
            {% image page.book_image height-2000 as bookimg %}
            <img src="{{bookimg.url}}" class="max-height-50 d-inline-block p-4 w-100">
        </div>
</div>

{% endblock %}