{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static%}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<div class="container-fluid container-dark py-5">
    <div class="container">
        <div class="row">
            <h1 class="text-white">{{ page.title }}</h1>
        </div>
        <div class="row">
            <div class="intro text-white">{{ page.intro|richtext }}</div>
        </div>
    </div>
    <div class="container mt-3">
        {% for book in book_list %}
        <div class="row align-items-start">
            <div class="col-lg-8 col-md-6 text-white bg-primary mt-3 mb-2">
                <div class="card-body bg-primary">
                    <h2 class="card-title text-white text-center"><a href="{% pageurl book %}" class="text-white">{{ book.book_title }}</a></h2>
                </div>
                <div class="card-body card-text text-white">
                    {{ book.teaser }}
                </div>
            </div>
            <div class="col-lg-4 col-md-6 container-dark px-4">
                {% image book.cover_image min-2000x400 as cover_image %}
                <a href="{% pageurl book %}">
                <img src="{{ cover_image.url }}" class="p-4 w-100"></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}