html {
    background-color: #1a1a1a;
    font:aliceblue;
}
body {
    background-color: #1a1a1a;
    font:aliceblue;
}
.jumbotron-landing background-image {
    opacity: 50%;
}
.jumbotron {
    background-color: #1a1a1a;
}